{% extends 'base.html'%}
{% load static %}
{% block content %}
<main>
    <div>
        <h1>{{todo_list_detail.name}}</h1>
        <p><a href="{% url 'todo_list_update' todo_list_detail.id%}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todo_list_detail.id%}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
            <tr>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
            </tr>
            <tbody>
                {% for item in todo_items %}
                <tr>
                    <td><a href="{% url 'todo_item_update' item.id%}">{{item.task}}</a></td>
                    <td>{{item.due_date|date:"b d, Y"|title}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
