{% extends 'base.html'%}
{% load static %}
{% block content %}
<main>
    <div>
        <h1>Update list</h1>
        <form class="forms" method ='post'>
            {% csrf_token %}
            {{ form.as_p}}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
