{% extends 'base.html'%}
{% load static %}
{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <p><a href="{% url 'todo_list_create'%}">Create a new list</a></p>
        <p><a href="{% url 'todo_item_create'%}">Create a new item</a></p>
        <table>
            <tr>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
            </tr>
            <tbody>
                {% for item in todo_list %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' item.id %}">{{item.name}}</a></td>
                    <td>{{item.items.all.count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
